site_name: Winter 2026 SAPAA Project
theme:
  name: material 
  features: 
  language: en
  palette:
    - scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - Project Documentation: 'index.md'
  - Project Management: 'project-management.md'
  - Software Design: 'software-design.md'
  - Teamwork: 'teamwork.md'
  - Meeting Minutes: 'meeting-minutes.md'
